<h1>{{ name }}</h1>


<dl>
  <dt>Name: </dt>
  <dd>{{ name }}</dd>
  <dt>Age: </dt>
  <dd>{{  age  }}</dd>
  <dt>Metodo: </dt>
  <dd>{{ getHeroDescription() }}</dd>
  <dt>Capitalizado: </dt>
  <dd>{{ capitalizedName }}</dd>
</dl>


<button *ngIf="name === 'Ironman' " (click)="changeName()" class="btn btn-primary mt-2" style="margin-right: 5px">
  Change Name
</button>
<button *ngIf="age === 45" (click)="changeAge()" class="btn btn-primary mt-2">
  Change Age
</button>
<button *ngIf="age === 27 && name === 'Spiderman'" (click)="reset()" class="btn btn-primary mt-2">
  Reset
</button>
